<html>
    <head>
        <title>Fun Computing blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Fun Computing Blog</a></h1>
{{ posts }}

{% for post in posts %}
    {{ post }}
{% endfor %}

        </div>

        <div>

{{ posts }}

{% for post in posts %}
    {{ post }}
{% endfor %}

        </div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}

    </body>
</html>